{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
    <div class = "home text-center ">
        {% if ( app.session.get('id') == null) %}
            <h1>Bienvenue sur Le BonKoin</h1>
        {% else %}
            <h1>Recherche</h1>
        {% endif %}
    </div>

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class=col">
                    {{ form_row(form.category) }}
                </div>
                <div class=col">
                    {{ form_row(form.price) }}
                </div>
                <div class=col">
                    {{ form_row(form.region) }}
                </div>
                <div class=col">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row mb-2">
        {% for advert in adverts %}
        <div class="col-md-6">
            <div class="row no-glutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="card-header">
                        <a class="titre_annonce" href="/advert/{{ advert.getId() }}"><h2>{{ advert.getAdvertTitle() }}</h2></a>
                    </div>
                    <div class="card-body">
                        <h3 class="price">{{ advert.getAdvertPrice() }} €</h3>
                        <h5>{{ advert.getAdvertCategory() }}</h5>
                        <h6>{{ advert.getAdvertLocalisation() }}</h6>
                        <p>{{ advert.getAdvertDate()|date }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

