{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <br>
    {% if ( app.session.get('id')) %}
        {% if ( liked ) %}
            <a href="/like/{{ advert.getId() }}"><img src="../../image/like.png"  class="like" alt="like"></a>
        {% else %}
            <a href="/like/{{ advert.getId() }}"><img src="../../image/unlike.png"  class="unlike" alt="unlike"></a>
        {% endif %}
    {% endif %}
    <br>
    <br>

    <h2>{{ advert.getAdvertTitle() }}</h2>
    <h3>{{ advert.getAdvertPrice() }} €</h3>
    <h4>{{ advert.getAdvertCategory() }}</h4>
    <h5>{{ advert.getAdvertDate()|date }}</h5>
    Localisation : <h4>{{ advert.getAdvertLocalisation() }}</h4>
    Description : <p>{{ advert.getAdvertDescription() }}</p>


    {% if ( advert.getAdvertCategory() == 'Voitures') %}
        Critères :
        <h6>Marque: {{ advert.getCar().getCarBrand() }}</h6>
        <h6>Kilomètrage: {{ advert.getCar().getCarKm() }}</h6>
        <h6>Essence: {{ advert.getCar().getCarFuel() }}</h6>
        <h6>Année du modèle: {{ advert.getCar().getCarDate()}}</h6>
            {% elseif (advert.getAdvertCategory() == 'Ventes immobilières' or advert.getAdvertCategory() == 'Locations') %}
                Critères :
                <h6>Type: {{ advert.getImmovable().getImmovableType() }}</h6>
                <h6>Surface: {{ advert.getImmovable().getImmovableSurface() }}</h6>
                <h6>Pièces: {{ advert.getImmovable().getImmovableRoom() }}</h6>
                <h6>Classe énergie: {{ advert.getImmovable().getImmovableEnergy()}}</h6>
            {% elseif (advert.getAdvertCategory() == 'Vêtements') %}
                Critères :
                <h6>Univers: {{ advert.getClothe().getClotheUniverse() }}</h6>
                <h6>Type de vêtements: {{ advert.getClothe().getClotheType() }}</h6>
                <h6>Marque: {{ advert.getClothe().getClotheBrand() }}</h6>
                <h6>Couleur: {{ advert.getClothe().getClotheColor() }}</h6>
                <h6>Etat: {{ advert.getClothe().getClotheState()}}</h6>
    {%  endif %}


    <a href="/user/adverts/{{ advert.getAdvertUser.getId()}}"><h4>{{ advert.getAdvertUser().getPseudo() }}</h4></a>
    <h5>{{ advert.getAdvertuser.getEmail() }}</h5>
    <h5>Membre depuis : {{ advert.getAdvertUser().getDateInscription()|date("m/d/y") }}</h5>



    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}