{% extends 'base.html.twig' %}

{% block title %}Actu{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <li>
        {% for advert in adverts %}
            {% if ( advert.getAdvertUser().getId() == app.session.get('id')) %}
                <a href="/advert/update/{{ advert.getId() }}"><h4>Update</h4></a>
                <a href="/advert/delete/{{ advert.getId() }}"><h4>Delete</h4></a>
            {% endif %}
            <a href="/like/{{ advert.getId() }}"><h4>Like</h4></a>
            <a href="/advert/{{ advert.getId() }}"><h2>{{ advert.getAdvertTitle() }}</h2></a>
            <h3>{{ advert.getAdvertPrice() }} €</h3>
            <h4>{{ advert.getAdvertCategory() }}</h4>
            <h4>{{ advert.getAdvertLocalisation() }}</h4>
            <h5>{{ advert.getAdvertDate()|date }}</h5>
        {% endfor %}
    </li>

{% endblock %}