{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if ( app.session.get('id')) %}
        <a href="/like/{{ advert.getId() }}"><h4>Like</h4></a>
    {% endif %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <h2>{{ advert.getAdvertTitle() }}</h2>
    <h3>{{ advert.getAdvertPrice() }} €</h3>
    <h4>{{ advert.getAdvertCategory() }}</h4>
    <h5>{{ advert.getAdvertDate()|date }}</h5>
    Localisation : <h4>{{ advert.getAdvertLocalisation() }}</h4>
    Description : <p>{{ advert.getAdvertDescription() }}</p>

    Critères :
    {% if ( advert.getAdvertCategory() == 'Voitures') %}
        <h6>{{ advert.getCar().getCarBrand() }}</h6>
        <h6>{{ advert.getCar().getCarKm() }}</h6>
        <h6>{{ advert.getCar().getCarFuel() }}</h6>
        <h6>{{ advert.getCar().getCarDate()}}</h6>
    {%  endif %}


    <a href="/user/adverts/{{ advert.getAdvertUser.getId()}}"><h4>{{ advert.getAdvertUser().getPseudo() }}</h4></a>
    <h5>{{ advert.getAdvertuser.getEmail() }}</h5>
    <h5>Membre depuis : {{ advert.getAdvertUser().getDateInscription()|date("m/d/y") }}</h5>



    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}