{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

    <h1 class="titre">{{ title }}</h1>

    <div class="row mb-2">
        {% for advert in adverts %}
            <div class="col-md-6">
                <div class="row no-glutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="card-header">
                            <a class="titre_annonce" href="/advert/{{ advert.getId() }}"><h2>{{ advert.getAdvertTitle() }}</h2></a>
                        </div>
                        <div class="card-body">
                            <h3 class="price">{{ advert.getAdvertPrice() }} €</h3>
                            <h5>{{ advert.getAdvertCategory() }}</h5>
                            <h6>{{ advert.getAdvertLocalisation() }}</h6>
                            <p>{{ advert.getAdvertDate()|date }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}