{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}
    <div class = "home text-center ">
        <h1>{{ title }}</h1>
        <p>Bienvenue sur Le BonKoin</p>
    </div>

    <ul>
    <li>
        {% for advert in adverts %}
             <a href="/advert/{{ advert.getId() }}"><h2>{{ advert.getAdvertTitle() }}</h2></a>
             <h3>{{ advert.getAdvertPrice() }} €</h3>
             <h4>{{ advert.getAdvertCategory() }}</h4>
             <h4>{{ advert.getAdvertLocalisation() }}</h4>
             <h5>{{ advert.getAdvertDate()|date }}</h5>
        {% endfor %}
    </li>
    </ul>

{% endblock %}