{% extends 'base.html.twig' %}

{% block title %}Actu{% endblock %}

{% block body %}
    <div class = "jumbotron text-center ">
        <form class="form-inline my-2 my-lg-0 mr-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <h1>{{ title }}</h1>
        <p>Bienvenue sur Le BonKoin</p>

    </div>

    <ul>
    <li>
        {% for advert in adverts %}
             <a href="/advert/{{ advert.getId() }}"><h2>{{ advert.getAdvertTitle() }}</h2></a>
             <h3>{{ advert.getAdvertPrice() }} €</h3>
             <h4>{{ advert.getAdvertCategory() }}</h4>
             <h4>{{ advert.getAdvertLocalisation() }}</h4>
             <h5>{{ advert.getAdvertDate()|date }}</h5>
        {% endfor %}
    </li>
    </ul>

{% endblock %}