{% extends 'base.html.twig' %}

{% block title %}Actu{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if ( app.session.get('id')) %}
        <a href="/connection"><h4>Se connecter</h4></a>
        <a href="/inscription"><h4>Inscription</h4></a>
    {% endif %}

    <li>
        {% for advert in adverts %}
            {% if ( app.session.get('id')) %}
                <a href="/like/{{ advert.getId() }}"><h4>Like</h4></a>
            {% endif %}
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
             <a href="/advert/{{ advert.getId() }}"><h2>{{ advert.getAdvertTitle() }}</h2></a>
             <h3>{{ advert.getAdvertPrice() }} €</h3>
             <h4>{{ advert.getAdvertCategory() }}</h4>
             <h4>{{ advert.getAdvertLocalisation() }}</h4>
             <h5>{{ advert.getAdvertDate()|date }}</h5>
        {% endfor %}
    </li>

{% endblock %}