{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="connexion">
        <div class="jumbotron">
            <div class="container">
                <div class="card-header">
                    <h1>{{ title }}</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.email, {'attr': {'placeholder': 'email'}}) }}
                    {{ form_row(form.password, {'attr': {'placeholder': 'password'}}) }}

                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-lg btn-outline-secondary">Se Connecter!</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} {# on insère les scripts défini dans le template base.html.twig (le parent de notre template cf extends en haut)
    //ci dessous on défini notre nouveau script
    //on oublie pas d'utiliser assets si c'est un script local#}

    <script src="{{asset('javascript/bousin3000.js')}}"> </script>
{% endblock%}