{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="inscription">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="card-header">
                    <h1>Inscription</h1>
                </div>
                <div class="card-body">
                    <div class="form-rows">
                        {{ form_start(form) }}
                        {{ form_row(form.pseudo) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                    </div>

                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-lg btn-outline-secondary">Se Connecter!</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>


{% endblock %}
