{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <br>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card2">
                <div class="card-header">
                    <h3>{{ app.session.get('pseudo') }}</h3>
                </div>
                <div id="block_profil">
                    <div class="card-body">
                        <h5>{{ app.session.get('email') }}</h5>
                        <a href="/user/update"><button type="button" class="btn btn-lg btn-outline-secondary">Modifier le Profil</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% for advert in adverts %}
            <div class="col-md-6">
                <div class="row no-glutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="card-header">
                            <a class="titre_annonce" href="/advert/{{ advert.getId() }}"><h2>{{ advert.getAdvertTitle() }}</h2></a>
                        </div>
                        <div class="card-body">
                            <h3 class="price">{{ advert.getAdvertPrice() }} €</h3>
                            <h5>{{ advert.getAdvertCategory() }}</h5>
                            <h6>{{ advert.getAdvertLocalisation() }}</h6>
                            <p>{{ advert.getAdvertDate()|date }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/advert/update/{{ advert.getId() }}"><button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button></a>
                                    <a href="/advert/delete/{{ advert.getId() }}"><button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}