{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}
    <h1>Update</h1>

    <!--<form method="post" action="update">
        <ul class="form">
            <p>
                <input type="text" name="pseudo" id="pseudo" class="field-divided" placeholder="pseudo" size="30" maxlength="40" />
                <input type="password" name="password" id="password" class="field-divided" placeholder="Mot de passe" size="30"/>
                <input type="submit" value="Modifier" />
            </p>
        </ul>
    </form>-->

    {{ form_start(form) }}
    {{ form_widget(form.pseudo, {'attr': {'placeholder': 'pseudo'}}) }}
    {{ form_widget(form.password, {'attr': {'placeholder': 'password'}}) }}
    {{ form_widget(form) }}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Update!</button>

    {{ form_end(form) }}

{% endblock %}