{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}
    <h1>Update</h1>

    {{ form_start(form) }}
    {{ form_widget(form.pseudo, {'attr': {'placeholder': 'pseudo'}}) }}
    {{ form_widget(form.password, {'attr': {'placeholder': 'password'}}) }}
    {{ form_widget(form) }}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Update!</button>

    {{ form_end(form) }}

{% endblock %}